<table>
  <tbody>
    <tr *ngFor="let cartao of cliente.cartoes ">
      <h6>Cartão: </h6>
      <td>{{cartao.numero}}</td>
    </tr>
  </tbody>
</table>
<h6>Selecione o Cartão</h6>
<select name="cartaoN" id="cartaoN" #cartaoN >
  <option *ngFor="let cartao of cliente.cartoes " value={{cartao.numero}}>{{cartao.numero}}</option>
</select>
<button class="btn btn-outline-success" (click)="cancelar(cartaoN.value)" type="submit">Cancelar</button>
<button class="btn btn-outline-success" routerLink="/usuario" type="submit">Voltar</button>
