<html>
<h1>Pagamento de fatura</h1>
<table>
  <tbody>
    <tr *ngFor="let cartao of cliente.cartoes ">
      <td><h6>Cartão: </h6>{{cartao.numero}}</td>
      <td><h6>Fatura: </h6>R$: {{cartao.limiteMax - cartao.limite}}</td>
    </tr>
  </tbody>
</table>
<h6>Selecione o Cartão</h6>
<select name="cartaoN" id="cartaoN" #cartaoN >
  <option *ngFor="let cartao of cliente.cartoes " value={{cartao.numero}}>{{cartao.numero}}</option>
</select>
<button class="btn btn-outline-success" (click)="pagar(cartaoN.value)" type="submit">Pagar</button>
<button class="btn btn-outline-success" routerLink="/usuario" type="submit">Voltar</button>
</html>
