<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Next</a>
    <button style="color: green;" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      Abrir
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/usuario"  [state]="{ cliente: 'cliente' }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transferencia" [state]="{ cliente: 'cliente' }">Transferencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cartoes" [state]="{ cliente: 'cliente' }">Cartões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pix" [state]="{ cliente: 'cliente' }">Pix</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/poupanca" [state]="{ cliente: 'cliente' }">Poupança</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/configuracao" [state]="{ cliente: 'cliente' }">Configuração</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-success" routerLink="/principal" type="submit">Sair</button>
  </div>
</nav>
