h6 {
  margin: 8px 0;
  color: #333;
  margin-right: 10px;
}
input{
  max-width: 200px;

}
button{
  right: 100px;
  margin-right: 10px;
  background-color: #333;

}
nav{
  background-color: limegreen;
}


