
html {
  background-color: #333;
  position:fixed;
  top: 50px;
  bottom:0;
  left:0;
  right:0;

}
app-navLogin{
  position:fixed;
  left:0;
  right:0;
  height: 50px;
  background-color: #01ff5f;
}
h1{
  color: aliceblue;
  text-align: center;
}
