<html>
<h1>Troca de senha: </h1>
<h6>digite sua senha: </h6>
<input name="senha" id="senha" #senha class="form-control me-2" type="password" placeholder="senha..." aria-label="senha">
<h6>digite sua nova senha: </h6>
<input name="senhaNova" id="senhaNova" #senhaNova class="form-control me-2" type="password" placeholder="senha..." aria-label="senhaNova">
<button class="btn btn-outline-success" (click)="mudar(senhaNova.value,senha.value)" type="submit">Mudar</button>
<button class="btn btn-outline-success" routerLink="/usuario" type="submit">Voltar</button>
</html>
